@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.list-group, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video{
    font-family: 'OTWelcomeRA';
}

#infopage ul, #infopage li{
    font-family: 'OTWelcomeRA';
}



/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}*/


#sidebar{
    position: fixed;
    top: 30%;
    left: 50px;
    width: 200px;
    height: 200px;
}

.txt{
    font-size: 16px;

}
.containerPadding{
    padding-bottom: 50px;
    padding-top: 50px;
}

.container{
    background-color: #FFFFFF;
    border-bottom: solid 3px #bbb;
}

.dropdown-item{
    font-size: 16px;
}

.languagebtn{
    font-weight: bold;
}

.languageselectbox{
    float: right;
    margin-top: 20px;
    height: 36px;
    width: 120px;
}
