.top_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.top_board{
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px 0 10px 0;
    font-size: 15px;
    margin: 20px 0 20px 0;
}
.top_title_slash{
    border-right: 3px solid black;
}
.top_subtitle{
    font-size: 20px;
    font-weight: bold;
}