@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'ONE-Mobile-POP';
}


@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

#newstitle{
    animation: blink-effect 1s step-end infinite;
}

h3 ,h4 ,h5{
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color:blue;
}
span{
    font-size:11px;
}

#newstable{
    width: 60%;
    margin: 0 auto;
}
.newsbox:nth-child(2n + 1) {
    background: #d2d2d280;
}
.newsnum{
    text-align: center;
}

.table td,
th {
    padding: 10px 7px;
}

.table {
    margin-bottom: 20px;
    width: 100%;
}