.title{
    border-bottom: 1px solid #c8c8c8;
    background-color: #F7F7F7;
    font-size: 17px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

#reserve li,
#suasion li,
#prohibition li{
    list-style: none;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}


.spandiv{font-size: 15px;}

