<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JsonTable</title>
</head>
<body>
<!--    th 32 개   -->

<table>
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Location</th>
        <th>City</th>
        <th>Country</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Date_onset</th>
        <th>Date_confirmation</th>
        <th>Symptoms</th>
        <th>Hospitalised (Y/N/NA)</th>
        <th>Date_hospitalisation</th>
        <th>Isolated (Y/N/NA)</th>
        <th>Date_isolation</th>
        <th>Outcome</th>
        <th>Contact_comment</th>
        <th>Contact_ID</th>
        <th>Contact_location</th>
        <th>Travel_history (Y/N/NA)</th>
        <th>Travel_history_entry</th>
        <th>Travel_history_start</th>
        <th>Travel_history_location</th>
        <th>Travel_history_country</th>
        <th>Genomics_Metadata</th>
        <th>Confirmation_method</th>
        <th>Source</th>
        <th>Source_II</th>
        <th>Date_entry</th>
        <th>Date_last_modified</th>
        <th>Source_III</th>
        <th>Source_IV</th>
        <th>Country_ISO3</th>
    </tr>
</table>

<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jsontable.js"></script>
</body>
</html>