<!DOCTYPE html>
<html lang="en" th:fragment="mpinfo">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br><br><br><br>
<div class="container containerPadding" id="infopage">
    <div class="row">
        <div>
            <div class="text-center top_menu">
                <span class="mpinfo_title">원숭이 두창이란?</span>
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" onclick="info()">관련 정보</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"  data-bs-toggle="tab" type="button" role="tab"  aria-selected="false" onclick="main_symptoms()">주요 증상</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="cure()">치료법</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="preventive()">예방법</button>
                    </li>
                </ul>
            </div>
            <br><br>
            <div id="contentbox"></div>
            <a href="https://kdca.go.kr/contents.es?mid=a20108010000">출처 : 질병관리청 </a>
        </div>
    </div>
</div>
</body>
</html>