<!DOCTYPE html>
<html lang="en" th:fragment="sidechart">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
    <div class="container sidediv">
        <div class="row">
            <div class="col-sm-6">
                <h3> 한국 누적확진자 </h3>
                <div id="chartdiv3"></div>
            </div>
            <div class="col-sm-6">
                <h3> 상위3개 나라 누적 확진자 </h3>
                <div id="chartdiv4"></div>
                <div id="colortext"></div>
            </div>
        </div>
    </div>
</body>
</html>
