<!DOCTYPE html>
<html lang="en" th:fragment="travel">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="travelinfo" class="containerPadding">
    <h3><span class="title_text">여행 경보 단계</span></h3>
    <div class="border rounded border-2 container g-0" style="" id="contentdiv">
        <div class="row g-0">
            <div class="col-sm-4">
                <h3 class="title"> ❗ 여행자제(<span style="color: #FCC33C">2단계</span>) </h3>
                <ul class="" id="reserve"></ul>
            </div>
            <div class="col-sm-4">
                <h3 class="title"> 🚨 출국권고(<span style="color: #C82613">3단계</span>) </h3>
                <ul id="suasion"></ul>
            </div>
            <div class="col-sm-4">
                <h3 class="title"> ⛔ 여행금지(<span style="color: #9980DC">4단계</span>)</h3>
                <ul id="prohibition"></ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
